.axis {
  position: absolute;
}

.x-axis {
  width: 100%;
  height: 3px;
  align-self: center;
  background-color: #ff0000;
}

.y-axis {
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
  background-color: seagreen;
}

.axis::after {
  position: absolute;
  white-space: nowrap;
  font-size: 1.5em;
  bottom: 10px;
}

.x-axis::after {
  content: "X-axis";
  color: #ff0000;
  right: 15px;
}

.y-axis::after {
  content: "Y-axis";
  color: green;
  left: 10px;
  top: 10px;
  writing-mode: vertical-rl;
}
