html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #333;
}

.flex-box-container {
  align-self: center;
  background-color: yellow;
  align-self: center;
  position: relative;
}

.flex-box-container::after {
  color: yellowgreen;
  font-size: 2.5em;
  width: 100%;
  top: -50px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  content: "Flex Box Container";
}

.flex-box-item {
  position: relative;
}

.flex-box-item::before {
  position: absolute;
  content: "Item";
  font-size: 1.3em;
  margin-left: 10px;
  top: 10px;
}

.flex-box-item::after {
  font-size: 1.3em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.flex-box-item-1::after {
  content: "1";
}
.flex-box-item-2::after {
  content: "2";
}
.flex-box-item-3::after {
  content: "3";
}
